<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple WebSocket Chat</title>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/app.css">
</head>
<body>
    <div id="app" class="app">
        <h1>Chat Demo</h1>
    </div>

    <script src="/static/scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/scripts/reconnecting-websocket.min.js"></script>
    <script>
       
    </script>
</body>
</html>